
.content {
    width: 1140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container__content {
    margin: 0 auto;
    padding: 13px 0;
}

.header {
    flex: 0 0 auto;
}

.content__footer {
    margin: 10px auto;
}

.home-page {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

.home-page__img {
    width: 150px;
    height: 150px;
}

@media screen and (min-width: 420px) and (max-width: 1100px) {
    .content {
        width: 420px;
    }

    .content__footer {
        max-width: 250px;
        margin: auto;
    }
}