
.content {
    width: 1140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container__content {
    margin: 0 auto;
    padding: 13px 0;
}

.header {
    flex: 0 0 auto;
}

.content__footer {
    margin: 10px auto;
}

@media screen and (min-width: 420px) and (max-width: 1100px) {
    .content {
        width: 420px;
    }

    .content__footer {
        max-width: 250px;
        margin: auto;
    }
}